/*
*   全局样式表
*/
#app {
    min-height: 110vh;
    background-color: #eceff1;
}

/*
*   全局滚动条
*/
::-webkit-scrollbar {
    width: 11px;
    height: 11px;
    background-color: rgb(246, 247, 248);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(217, 217, 217);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgb(246, 247, 248);
    border-radius: 10px;
}